.principal {
    margin-top: 7rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.titulo {
    color: #72F9E0;
    font-family: 'Indie Flower', cursive;
    display: flex;
    justify-content: space-between;
    cursor: default;

    h4 {
        color: #EAEAEA;
    }

    h2{
        color: #EAEAEA;
    }
}

.video-aula {
    display: flex;
    flex-direction: row;

    .video {
        background: #72F9E0;
        border-radius: 15px;
        width: 824px;
        min-height: 481px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .botao {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        p {
            color: #EAEAEA;
            font-family: 'Indie Flower', cursive;
            cursor: default;
            font-size: 19px;
        }

        img {
            height: 300px;
            width: auto;
        }

        button {
            line-height: 2.5;
            font-size: 25px;
            min-width: 14rem;
            background: #72F9E0;
            border: none;
            font-family: 'Varela Round', sans-serif;
            border-radius: 12px;
        }

        button:hover {
            background: #EAEAEA;
            transition: all 0.5s;
        }
    }
}

.questionario {
    display: flex;
    align-items: center;
    flex-direction: column;

    h5 {
        color: #EAEAEA;
        font-family: 'Varela Round', sans-serif;
        cursor: default;
    }

    .questao {
        width: 700px;
        min-height: 250px;
        background: #72F9E0;
        border-radius: 20px;
    }

    .numQuestoes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .btn {
            background: #72F9E0;
            color: #3C3C3C;
            border: none;
            margin-right: 15px;
            margin-bottom: 20px;
        }

        .btn:hover {
            background: #EAEAEA;
            transition: all 0.5s;
        }
    }

    .lista-opcoes {
        font-family: 'Varela Round', sans-serif;
    }

    hr {
        margin: 0;
    }

    .opcoes {
        cursor: pointer;
    }

    .opcoes:hover {
        background: #fdfdfd7e;
    }

    .pergunta {
        margin: 1rem;
        font-weight: 600;
        font-size: 18px;
        font-family: 'Varela Round', sans-serif;
        color: #3C3C3C;
        cursor: default;
    }

    span {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .botao {
        display: flex;
        justify-content: flex-end;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        margin-right: 1rem;

        .btn {
            background: #ffffff;
            font-family: 'Varela Round', sans-serif;
            border: none;
            color: #303030;
            line-height: 2;
            border-radius: 12px;
        }

        .btn:hover {
            background: #303030;
            color: #EAEAEA;
            transition: all 0.5s;
        }
    }

    .finalizar {
        margin-top: 25px;
        margin-bottom: 1.5rem;
        line-height: 2;
        font-size: 22px;
        min-width: 12rem;
        background: #72F9E0;
        border: none;
        font-family: 'Varela Round', sans-serif;
        border-radius: 12px;
    }

    .finalizar:hover {
        background: #EAEAEA;
        transition: all 0.5s;
    }
}

.resultado {
    display: flex;
    flex-direction: row;
    align-items: center;

    .imagem {
        // background: #f5f5f5;
        // border-radius: 50%;
        margin: 1rem;

        img {
            height: 120px;
            width: auto;
            margin: 25px;
        }
    }

    .resposta-correta {
        font-size: 25px;
        font-weight: 500;
        color: #81a561;
        font-family: 'Varela Round', sans-serif;
    }

    .resposta-incorreta {
        font-size: 25px;
        color: #cf5f5f;
        font-weight: 500;
        font-family: 'Varela Round', sans-serif;
    }

    .resposta-gabarito {
        margin-right: 1.5rem;
    }

    .gabarito {
        font-size: 20px;
    }
}

.proxima-questao {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
    margin-right: 1rem;

    .btn {
        background: #ffffff;
        font-family: 'Varela Round', sans-serif;
        border: none;
        color: #303030;
        line-height: 2;
        border-radius: 12px;
    }

    .btn:hover {
        background: #303030;
        color: #EAEAEA;
        transition: all 0.5s;
    }
}