<div class="principal">
    <div class="titulo mb-4">
        <div>
            <h1>{{curso?.nome}}</h1>
            <h2 *ngIf="!telaVideo">Exercícios</h2>
            <h2 *ngIf="telaVideo">Vídeo-aula</h2>
        </div>
        <div>
            <h4 *ngIf="!telaVideo">Para selecionar uma resposta, clique em cima da opção escolhida.</h4>
            <h4 *ngIf="telaVideo">Para assistir ao vídeo, é só clicar nele.</h4>
            <h4>Se precisar pausar, também basta clicá-lo.</h4>
        </div>
    </div>

    <div class="video-aula row" *ngIf="telaVideo">
        <div class="video col">
            <app-video-curso [idCurso]="idCurso"></app-video-curso>
        </div>
        <div class="botao col">
            <div class="aviso">
                <p>Quando terminar de assistir ao vídeo, clique no botão abaixo.</p>
            </div>
            <div class="imagem">
                <img src="assets/seta-tela-video.png" alt="seta">
            </div>
            <div class="proxima-etapa">
                <button type="button" class="btn btn-info">Próxima etapa</button>
            </div>
        </div>
    </div>

    <div class="questionario" *ngIf="!telaVideo">
        <div class="numQuestoes">
            <div *ngFor="let questao of questoesCurso; let i = index">
                <button type="button" class="btn btn-primary btn-sm" 
                id="{{i}}" (click)="escolherQuestao(i)">
                    {{i + 1}}
                </button>
            </div>
        </div>
        <div>
            <h5>Questão {{numSelecionada + 1}}</h5>
        </div>
        <div class="questao">
            <p class="pergunta">{{questoesCurso[numSelecionada]?.pergunta}}</p>
            <div *ngIf="!mostrarResposta">
                <div class="opcoes" *ngFor="let item of questoesCurso[numSelecionada]?.questoes; let i = index">
                    <hr *ngIf="!i">
                    <div class="lista-opcoes" id="{{item.resposta}}" (click)="selecionarResposta(item, questoesCurso[numSelecionada])">
                        <div class="opcao" style="min-height: 40px; display: flex; align-items: center;">
                            <span>{{item.resposta}}</span>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div *ngIf="mostrarResposta">
                <hr>
                <div class="resultado">
                    <div class="imagem">
                        <img src="assets/aprovado.png" alt="Afirmativo" *ngIf="respostaCorreta">
                        <img src="assets/rejeitado.png" alt="Negativo" *ngIf="!respostaCorreta">
                    </div>
                    <div class="resposta-gabarito">
                        <p class="resposta-correta" *ngIf="respostaCorreta">Resposta correta</p>
                        <p class="resposta-incorreta" *ngIf="!respostaCorreta">Resposta incorreta</p>
                        <p class="gabarito">Gabarito: {{ questoesCurso[numSelecionada]?.resposta }}</p>
                    </div>
                </div>
            </div>
            <div class="botao">
                <button class="btn btn-primary" role="button" *ngIf="!mostrarResposta"
                [disabled]="!resposta"
                (click)="enviarResposta(questoesCurso[numSelecionada])">
                    Enviar resposta
                </button>
            </div>
        </div>
        <div class="proxima-etapa">
            <button type="button" class="btn btn-info finalizar">Finalizar curso</button>
        </div>
    </div>
</div>