<div class="principal">
    <div class="initial-screen" *ngIf="initial">
        <div class="row">
            <div class="col-7 lado-esquerdo">
                <img src="../../../assets/image-initial-page.png" alt="Imagem">
            </div>
            <div class="col lado-direito">
                <div class="texto">
                    <h1>Uma plataforma gratuita de aprendizado sobre o uso de computadores.</h1>
                </div>
                <div class="botao">
                    <button type="button" class="btn btn-link" (click)="initial = false;">Clique aqui</button>
                </div>
            </div>
        </div>
    </div>
    <div class="second-screen" *ngIf="!initial">
        <div class="logo">
            <div class="imagens">
                <img src="../../../assets/robot.png" alt="Robô">
                <img src="../../../assets/logo1.png" alt="Logo">    
            </div>
        </div>
        <div class="botoes">
            <div class="entrar">
                <button type="button" class="btn btn-primary" [routerLink]="['/login']">Entrar</button>
            </div>
            <div class="cadastro">
                <button type="button" class="btn btn-primary" [routerLink]="['/cadastro']">Cadastrar-se</button>
            </div>
        </div>
    </div>
</div>