<header>
  <div class="principal">
    <div class="stack-item">
      <a href="/" class="logo">
        <div class="image">
          <img src="assets/logo2.png" alt="logo-img" />
        </div>
      </a>
    </div>
      
    <div class="menu-buttons">
      <button type="button" class="btn btn-link">
        Sobre nós
      </button>
      <button type="button" class="btn btn-link" [routerLink]="['/lista-cursos']"
      *ngIf="mostrarSubmenu">
        Cursos
      </button>
      <button type="button" class="btn btn-link" [routerLink]="['/sua-conta']"
      *ngIf="mostrarSubmenu">
        Sua conta
      </button>
    </div>
  </div>
</header>