<header>
  <div class="container">
    <div class="">
      <div class="stack-item">
        <a href="/" class="logo">
          <div class="image">
            <img src="assets/logo2.png" alt="logo-img" />
          </div>
        </a>
      </div>
      
      <!-- <div class="col menu-buttons">
        <div class="row">
          <div class="col">
            <a href="">Sobre Nós</a>
          </div>
          <div class="col">
            <a href="">Cursos</a>
          </div>
          <div class="col">
            <a href="">Sua Conta</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</header>