<div class="principal row">
    <div class="lado-esquerdo col-7">
        <div class="row">
            <div class="col">
                <h1>Entrar</h1>
            </div>
            <div class="col">
                <p>Caso não queira mais entrar com o login, é só clicar em CANCELAR</p>
            </div>
        </div>
        <div class="row form">
            <div class="col">
                <div>
                    <label for="cpf" class="form-label">CPF (Somente números)</label>
                    <input type="text" class="form-control" id="cpf" maxlength="14" 
                    mask="000.000.000-00" [(ngModel)]="cpf" >
                </div>
                <div class="mt-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="senha" [(ngModel)]="senha">
                </div>
                <div class="mt-3 sem-cadastro">
                    <button type="button" class="btn btn-link" [routerLink]="['/cadastro']">Não possui um cadastro? Clique aqui.</button>
                </div>
                <div class="row botoes mt-3">
                    <div class="col d-flex justify-content-end">
                        <button type="button" class="btn btn-info entrar"
                            (click)="entrar()">
                            Entrar
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-info cancelar" [routerLink]="['/']">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lado-direito col">
        <div class="aviso">
            <p>Caso não tenha se cadastrado anteriormente, para acessar, basta cadastrar-se, é totalmente gratuito.</p>
        </div>
        <div class="imagens">
            <img class="imagem-robo" src="assets/robot.png" alt="Logo">
            <img class="imagem-logo" src="assets/logo1.png" alt="Logo">
        </div>
    </div>
</div>