body, html {
    height: 100vh;
    width: 110vw;
}
.principal {
    height: 100%;
    margin:0px !important;
    padding: 0px !important;
}

.lado-esquerdo {
    background: #EAEAEA;
    height: 93vh;

    h1 {
        font-family: 'Indie Flower', cursive;
        padding: 17px;
        color: #3C3C3C;
        font-weight: bold;
    }

    p {
        font-family: 'Indie Flower', cursive;
        padding: 12px;
        font-size: 22px;
        color: #3C3C3C;
        font-weight: 600;
        text-align: right;
    }

    .form {
        margin-right: 6rem;
        margin-left: 6rem;
        margin-top: 3rem;

        input {
            border-radius: 15px;
        }

        input:focus{
            outline: 1px solid #70FEDC;
            // border-color: #70FEDC;
            box-shadow: 0 0 1em #70FEDC;
        }

        .sem-cadastro {
            display: flex;
            justify-content: center;
            
            .btn {
                color: #3C3C3C;
            }
        }

        .botoes .btn {
            line-height: 2.5;
            width: 12rem;
            font-size: 23px;
            font-family: 'Indie Flower', cursive;
            font-weight: bold;
            border-radius: 12px;
            border: none;
        }

        .cancelar {
            background: #ffffff;
        }

        .cancelar:hover {
            background: #303030;
            color: #EAEAEA;
            transition: all 0.5s;
        }

        .entrar {
            background: #72F9E0; 
        }

        .entrar:hover {
            background: #303030;
            color: #EAEAEA;
            transition: all 0.5s;
        }
    }
}

.lado-direito {
    position: inherit;
    flex: 1;
    display: flex;
    flex-direction: column;

    p {
        font-family: 'Indie Flower', cursive;
        padding: 12px;
        font-size: 22px;
        color: #EAEAEA;
    }

    .imagens {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        
        .imagem-robo {
            height: auto;
            width: 15rem;
        }
    
        .imagem-logo {
            height: auto;
            width: 21rem;
        }
    }
}