<div class="curso1" *ngIf="idCurso == 1">
    <iframe width="784" height="441" src="https://www.youtube.com/embed/sbIs2Zb4wFQ"
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
</div>

<div class="curso2" *ngIf="idCurso == 2">
    <iframe width="784" height="441" src="https://www.youtube.com/embed/lsGuvvDWbE0" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
</div>

<div class="curso3" *ngIf="idCurso == 3">
    <iframe width="784" height="441" src="https://www.youtube.com/embed/w0_SrNK18sE" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
</div>

<div class="curso4" *ngIf="idCurso == 4">
    <iframe width="784" height="441" src="https://www.youtube.com/embed/H4ZZlIMxfLc" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
</div>

<div class="curso5" *ngIf="idCurso == 5">
    <iframe width="784" height="441" src="https://www.youtube.com/embed/QICqZ9aOF2Q"
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
</div>