<div class="principal row">
    <div class="lado-esquerdo col">
        <p class="ola">Olá, {{ usuario.nome }}</p>
        <p class="info">Estes são os seus dados:</p>

        <div class="dados">
            <div class="nome">
                <p class="label">Nome Completo:</p>
                <p class="dado">{{ nomeCompleto }}</p>
            </div>
            <div class="cpf">
                <p class="label">CPF:</p>
                <p class="dado cpf">{{ usuario.cpf }}</p>
            </div>
        </div>
        <div class="row botoes">
            <div class="col editar-dados">
                <button type="button" class="btn btn-info btn-dados" [routerLink]="['/editar/dados/1']">
                    Editar Dados
                </button>
            </div>
            <div class="col trocar-senha">
                <button type="button" class="btn btn-info btn-senha" [routerLink]="['/editar/senha/1']">
                    Trocar Senha
                </button>
            </div>
        </div>
    </div>
    <div class="lado-direito col-7">
        <div class="andamento-cursos" *ngFor="let curso of cursos">
            <p>Curso {{curso.id}} - {{ curso.nome }}</p>
            <button type="button" class="btn btn-primary concluido" 
            *ngIf="curso.status == 'Concluido'">
                Concluído
            </button>
            <button type="button" class="btn btn-primary pendente" 
            *ngIf="curso.status == 'Iniciado' || curso.status == 'Não iniciado'">
                Pendente
            </button>
            <button type="button" class="btn btn-primary em-andamento" 
            *ngIf="curso.status == 'Em andamento'">
                Em andamento
            </button>
        </div>
    </div>
</div>