<div class="row principal">
    <div class="col lado-esquerdo">
        <div class="sobre-ensino-tech">
            <div class="seta-esquerda">
                <img src="assets/arrow.png" alt="seta-esquerda">
            </div>
            <div class="botao">
                <p>Clique aqui para saber</p>
                <button type="button" class="btn btn-info sobre">Sobre o Ensino Tech</button>
            </div>
            <div class="seta-direita">
                <img src="assets/arrow2.png" alt="seta-direita">
            </div>
        </div>
        <div class="cursos row mt-5">
            <div class="col">
                <p>Nossos cursos de aprendizagem</p>
                <button type="button" class="btn btn-info sobre mb-3">
                    Curso 1 - Utilidades Básicas
                </button>
                <button type="button" class="btn btn-info sobre mb-3">
                    Curso 2 - Barra de Tarefas
                </button>
                <button type="button" class="btn btn-info sobre mb-3">
                    Curso 3 - Manipulando Arquivos
                </button>
                <button type="button" class="btn btn-info sobre mb-3">
                    Curso 4 - Aplicações
                </button>
                <button type="button" class="btn btn-info sobre">
                    Curso 5 - Utilizando a Internet
                </button>
            </div>
        </div>
    </div>
    <div class="col lado-direito">
        <div class="logo">
            <div class="imagens">
                <img class="imagem-logo" src="assets/logo1.png" alt="Logo">
                <img class="imagem-robo" src="assets/robot.png" alt="Logo">
            </div>
        </div>
    </div>
</div>